<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.canoruslearningmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Canorus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CanorusManagementSystem">
        <activity
            android:name=".EditClass"
            android:exported="false"
            android:label="View Classes"
            android:parentActivityName=".ViewClassesFiltered"/>
        <activity
            android:name=".ViewClassesFiltered"
            android:exported="false"
            android:label="View Classes"
            android:parentActivityName=".ViewClasses" />
        <activity
            android:name=".ViewClasses"
            android:exported="false"
            android:label="View Classes"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".EditResultStudent"
            android:exported="false"
            android:label="Edit Results"
            android:parentActivityName=".EditResult" />
        <activity
            android:name=".EditResult"
            android:exported="false"
            android:label="Edit Results"
            android:parentActivityName=".ViewResult" />
        <activity
            android:name=".ViewResult"
            android:exported="false"
            android:label="View Result"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".EditPayment"
            android:exported="false"
            android:label="Edit Payment"
            android:parentActivityName=".ViewPayment" />
        <activity
            android:name=".ViewPayment"
            android:exported="false"
            android:label="View Payment"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".EditEnrolmentStudent"
            android:exported="false"
            android:label="Subject Add/Drop"
            android:parentActivityName=".ViewEnrolment" />
        <activity
            android:name=".EditEnrolment"
            android:exported="false"
            android:label="Edit Enrolment"
            android:parentActivityName=".ViewEnrolment" />
        <activity
            android:name=".ViewEnrolment"
            android:exported="false"
            android:label="View Enrolment"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".EditStudent"
            android:exported="false"
            android:label="Edit Student"
            android:parentActivityName=".ViewStudentFiltered" />
        <activity
            android:name=".ViewStudentFiltered"
            android:exported="false"
            android:label="View Student"
            android:parentActivityName=".ViewStudent" />
        <activity
            android:name=".ViewStudent"
            android:exported="false"
            android:label="View Student"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".AddStudent"
            android:exported="false"
            android:label="Add Student"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".EditSubject"
            android:exported="false"
            android:label="Edit Subject"
            android:parentActivityName=".ViewSubjectFiltered" />
        <activity
            android:name=".ViewSubjectFiltered"
            android:exported="false"
            android:label="View Subject"
            android:parentActivityName=".ViewSubject" />
        <activity
            android:name=".ViewSubject"
            android:exported="false"
            android:label="View Subject"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".AddSubject"
            android:exported="false"
            android:label="Add Subject"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".EditStaff"
            android:exported="false"
            android:label="Edit Staff"
            android:parentActivityName=".ViewStaffFiltered" />
        <activity
            android:name=".ViewStaffFiltered"
            android:exported="false"
            android:label="View Staff"
            android:parentActivityName=".ViewStaff" />
        <activity
            android:name=".ViewStaff"
            android:exported="false"
            android:label="View Staff"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".AddStaff"
            android:exported="false"
            android:label="Add Staff"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".EditLecturer"
            android:exported="false"
            android:label="Edit Lecturer"
            android:parentActivityName=".ViewLecturer" />
        <activity
            android:name=".ViewLecturer"
            android:exported="false"
            android:label="View Lecturer"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".AddLecturer"
            android:exported="false"
            android:label="Add Lecturer"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".ViewLecturerTimetableFiltered"
            android:exported="false"
            android:label="View Lecturer Timetable"
            android:parentActivityName=".ViewLecturerTimetable" />
        <activity
            android:name=".ViewLecturerTimetable"
            android:exported="false"
            android:label="View Lecturer Timetable"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".ViewLogFiltered"
            android:exported="false"
            android:label="View Logs"
            android:parentActivityName=".ViewLog" />
        <activity
            android:name=".ViewLog"
            android:exported="false"
            android:label="View Log"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".RemoveProgramSession"
            android:exported="false"
            android:label="Remove Program/Session"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".AddProgramSession"
            android:exported="false"
            android:label="Add Program/Session"
            android:parentActivityName=".AdminPanel" />
        <activity
            android:name=".EditAttendanceList"
            android:exported="false"
            android:label="Edit Attendance"
            android:parentActivityName=".EditAttendance" />
        <activity
            android:name=".EditAttendance"
            android:exported="false"
            android:label="Edit Attendance"
            android:parentActivityName=".ViewAttendanceFiltered" />
        <activity
            android:name=".ViewAttendanceFiltered"
            android:exported="false"
            android:label="View Attendance"
            android:parentActivityName=".ViewAttendance" />
        <activity
            android:name=".ViewAttendance"
            android:exported="false"
            android:label="View Attendance"
            android:parentActivityName=".LecturerPanel" />
        <activity
            android:name=".EditSubmission"
            android:exported="false"
            android:label="View Assignment Submission"
            android:parentActivityName=".ViewSubmissionFiltered" />
        <activity
            android:name=".ViewSubmissionFiltered"
            android:exported="false"
            android:label="View Assignment Submission"
            android:parentActivityName=".ViewSubmission" />
        <activity
            android:name=".ViewSubmission"
            android:exported="false"
            android:label="View Assignment Submission"
            android:parentActivityName=".LecturerPanel" />
        <activity
            android:name=".AddAssignment"
            android:exported="false"
            android:label="Add Assignment"
            android:parentActivityName=".ViewAssignmentFiltered" />
        <activity
            android:name=".ViewAssignmentFiltered"
            android:exported="false"
            android:label="View Assignment"
            android:parentActivityName=".ViewAssignment" />
        <activity
            android:name=".ViewAssignment"
            android:exported="false"
            android:label="View Assignment"
            android:parentActivityName=".LecturerPanel" />
        <activity
            android:name=".EditNotes"
            android:exported="false"
            android:label="Edit Notes"
            android:parentActivityName=".ViewNotesFiltered" />
        <activity
            android:name=".ViewNotesFiltered"
            android:exported="false"
            android:label="View Notes"
            android:parentActivityName=".ViewNotes" />
        <activity
            android:name=".ViewNotes"
            android:exported="false"
            android:label="View Notes"
            android:parentActivityName=".LecturerPanel" />
        <activity
            android:name=".LecturerTimetable"
            android:exported="false"
            android:label="View Timetable"
            android:parentActivityName=".LecturerPanel" />
        <activity
            android:name=".ViewAnnouncementsFiltered"
            android:exported="false"
            android:label="View Announcements"
            android:parentActivityName=".ViewAnnouncements" />
        <activity
            android:name=".ViewAnnouncements"
            android:exported="false"
            android:label="View Announcements"
            android:parentActivityName=".LecturerPanel" />
        <activity
            android:name=".StudentEnrolment"
            android:exported="false"
            android:label="Subject Add/Drop"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentAttendance"
            android:exported="false"
            android:label="Edit Attendance"
            android:parentActivityName=".StudentAttendanceFiltered" />
        <activity
            android:name=".StudentAttendanceFiltered"
            android:exported="false"
            android:label="View Attendance"
            android:parentActivityName=".StudentAttendanceChoose" />
        <activity
            android:name=".StudentAttendanceChoose"
            android:exported="false"
            android:label="View Attendance"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentAssignmentSubmit"
            android:exported="false"
            android:label="View Assignment"
            android:parentActivityName=".StudentAssignmentFiltered" />
        <activity
            android:name=".StudentAssignmentFiltered"
            android:exported="false"
            android:label="View Assignment"
            android:parentActivityName=".StudentAssignmentChoose" />
        <activity
            android:name=".StudentAssignmentChoose"
            android:exported="false"
            android:label="View Assignment"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentCheckout"
            android:exported="false"
            android:label="Make Payment"
            android:parentActivityName=".StudentPayment" />
        <activity
            android:name=".StudentPayment"
            android:exported="false"
            android:label="Make Payment"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentNotes"
            android:exported="false"
            android:label="View Notes"
            android:parentActivityName=".StudentNotesFiltered" />
        <activity
            android:name=".StudentNotesFiltered"
            android:exported="false"
            android:label="View Notes"
            android:parentActivityName=".StudentNotesChoose" />
        <activity
            android:name=".StudentNotesChoose"
            android:exported="false"
            android:label="View Notes"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentAnnouncementsFiltered"
            android:exported="false"
            android:label="View Announcements"
            android:parentActivityName=".StudentAnnouncementsChoose" />
        <activity
            android:name=".StudentAnnouncementsChoose"
            android:exported="false"
            android:label="View Announcements"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentResult"
            android:exported="false"
            android:label="View Results"
            android:parentActivityName=".StudentResultChoose" />
        <activity
            android:name=".StudentResultChoose"
            android:exported="false"
            android:label="View Results"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".ChangeDetails"
            android:exported="false"
            android:label="Change Details"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentContact"
            android:exported="false"
            android:label="Contact Lecturer"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentTimetable"
            android:exported="false"
            android:label="View Timetable"
            android:parentActivityName=".StudentPanel" />
        <activity
            android:name=".StudentAttendanceQR"
            android:exported="false"
            android:label="Scan Attendance QR"
            android:parentActivityName=".StudentAttendance" />
        <activity
            android:name=".LecturerPanel"
            android:exported="false"
            android:label="Lecturer Panel" />
        <activity
            android:name=".AdminPanel"
            android:exported="false"
            android:label="Admin Panel" />
        <activity
            android:name=".StudentPanel"
            android:exported="false"
            android:label="Student Panel" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PushNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>